torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
torchmetrics
numpy==1.26.4
soundfile
tqdm
matplotlib
pandas==2.2.2 # src/metrics/tracker.py relies on mutable DataFrame.values; breaks on pandas>=3 (copy-on-write)
wandb
comet_ml
hydra-core

black
isort
pre-commit
